/*
!.*
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.esd_auth
.fontconfig/
.gconf/
.gitconfig
.gnome2/
.gtk-bookmarks
.local/
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.ssh/
.sudo_as_admin_successful
.thumbnails/
.vim/bundle/
.viminfo
.xsession-errors
